<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Window</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="/socket.io/socket.io.js"></script>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body data-bs-theme="dark" bs-offcanvas-width="500px">
    <h1 class="text-center">CHAT APP</h1>
    <div class="modal fade" id="new-group-modal" tabindex="-1" aria-labelledby="new-group-modal-label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="new-group-modal-label">Select members</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body" id="new-group-form">
                        <input class="form-control mb-3" type="text" placeholder="Name of group">
                    </div>
                    <ul class="list-group ms-3 me-3 mb-3" id="contacts-list">
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="close-new-btn">Close</button>
                        <button type="submit" class="btn btn-light" id="create-new-group-btn">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid box card position-absolute top-50 start-50 translate-middle p-0">
        <!--<div class="card-header text-center fs-5">Chat App</div>-->
        <div class="position-relative top-0 start-0 chat-list-box px-1">
            <div class="postition-absolute top-0 end-0 p-0 left-panel-head">
                <button class="btn sym-circle" type="button" data-bs-toggle="collapse" data-bs-target="#sym-options"
                    aria-expanded="false" aria-controls="sym-options" id="more-options">&vellip;</button>
                <div class="collapse" id="sym-options">
                    <button class="btn btn-light mx-5 mb-1" type="button" data-bs-toggle="modal"
                        data-bs-target="#new-group-modal" id="new-group-btn">New Group</button>
                </div>
            </div>
            <ul class="list-group overflow-box-100 py-1" id="left-panel">
            </ul>
        </div>
        <div class="position-absolute top-0 end-0 p-0 chat-name-box">
            <h3 class="text-start px-3" id="chat-head">No chats to display</h3>
            <div>
                <button class="btn sym-circle me-2" data-bs-toggle="offcanvas" data-bs-target="#group-details"
                    aria-controls="group-details" type="button" id="group-details-btn">&vellip;</button>
            </div>
            <div class="offcanvas offcanvas-end add-group-box" tabindex="-1" id="group-details"
                aria-labelledby="group-details-head">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="group-details-head">No group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                        id="group-details-close-btn"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group">
                        <ul class="list-group mb-3" id="members-list">
                        </ul>
                        <div>
                            <input class="form-control mb-3" type="text"
                                placeholder="Search by name, email or phone number" id="search-contacts" disabled>
                        </div>
                        <form>
                            <ul class="list-group mb-3" id="not-members-list">
                            </ul>
                            <button type="submit" class="btn btn-light mb-3 flt-end" id="add-members-btn"
                                style="display: none;">Add to group</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 end-0 p-0 display-box">
            <div class="card px-3 transparent overflow-box" id="chat-box">
            </div>
            <form>
                <div class="hstack msg-box-border gap-3 py-2 px-3">
                    <input type="text" class="form-control" id="msg-box">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-light fw-medium material-symbols-outlined" id="send">send</button>
                        <label for="file-input" class="btn btn-light fw-medium material-symbols-outlined" id="file-input-label">
                            <input type="file" style="display: none;" id="file-input">upload_file
                        </label>
                    </div> 
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <li class="list-group-item d-flex justify-content-between align-items-start" style="display: none;" id="member-li">
        <div class="ms-2 me-auto">
            <div class="fw-bold"></div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" style="display: none!important;"
        id="not-member-li">
        <div class="form-check ms-2 me-auto">
            <input class="form-check-input float-n me-4" type="checkbox">
            <div class="fw-bold"></div>
        </div>
    </li>
    <span class="badge bg-secondary" style="display: none;" id="group-admin">Group Admin</span>
</body>

</html>