.box {
    max-width: 50rem;
    height: 75vh;
    background-color: rgb(0, 111, 111);
    overflow: hidden;
    border-color: #212529;
}

.overflow-box {
    overflow-y: auto;
    max-height: 60vh;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.overflow-box::-webkit-scrollbar {
    width: 0;
    /* Safari and Chrome */
}

.overflow-box-100 {
    overflow-y: auto;
    max-height: 100%;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.overflow-box-100::-webkit-scrollbar {
    width: 0;
    /* Safari and Chrome */
}

.chat-list-box {
    width: 30%;
    height: 100%;
    background-color: #6a6a6a;
    border-color: #000;
    border-radius: 0.375rem;
}

.chat-name-box {
    width: 70%;
    background-color: rgb(0, 86, 86);
    border-color: rgb(0, 86, 86);
    border-radius: 0.375rem 0.375rem 0 0;
    border-bottom: 1px #9ad1cf solid;
    display: inline-flex;
    justify-content: space-between;
}

.left-panel-head {
    background-color: rgb(0, 86, 86);
    border-radius: 0.375rem;
    border-bottom: 1px #9ad1cf solid;
}

.display-box {
    width: 70%;
}

.add-group-box {
    border: 2px #dee2e6 solid;
    border-radius: 0 0.375rem 0.375rem 0;
}

.msg-box-border {
    border: 1px #000 solid;
    border-radius: 0.375rem;
}

.no-border {
    border: 0px;
}

.transparent {
    background-color: rgb(0, 111, 111);
    border: 0px;
}

.sym-circle {
    background-color: rgb(0, 86, 86);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0;
}

.gen-msg {
    padding: 0.25rem 0;
    margin-bottom: 0.5rem;
    font-style: italic;
    align-self: center;
}

.my-msg {
    padding: 0.25rem 1.5rem;
    margin-bottom: 0.5rem;
    color: #dee2e6;
    background-color: #212529;
    border-radius: 10px 0 10px 10px;
    max-width: 60%;
    width: fit-content;
    align-self: flex-end;
}

.others-msg {
    padding: 0.25rem 1.5rem;
    margin-bottom: 0.5rem;
    color: #000;
    background-color: #f8f9fa;
    border-radius: 0 10px 10px 10px;
    max-width: 60%;
    width: fit-content;
    align-self: flex-start;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.float-n {
    float: none !important;
}

.flt-end {
    float: right;
}

.offcanvas {
    --bs-offcanvas-width: 71%;
}

.offcanvas-body::-webkit-scrollbar {
    width: 0;
}

.offcanvas-body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}